# Subway Data Analysis

## Introduction

O sistema de ônibus e trens de Nova Iorque - o Metro Transit Authority - fornece seus dados para download através de  arquivos csv. Uma das informações disponíveis são os dados das catracas do metrô que contém logs semanais de entradas cumulativas e saídas por catraca por estação de metrô em algum intervalo de tempo.


Neste projeto iremos utilizar apenas os das catraca disponíveis em: http://web.mta.info/developers/turnstile.html.

# Sobre este projeto

Neste projeto você irá aplicar todos os conhecimentos adquiridos neste primeiro mês de curso. Iremos praticar tarefas básicas de aquisição, limpeza de dados e nesse processo iremos descobrir coisas essenciais sobre os dados utilizando o que foi aprendido no curso de estatística. 

O objetivo deste projeto é explorar a relação entre os dados das catracas do metro de Nova Iorque e o clima no dia da coleta. Para isso, além dos dados do metrô, precisaremos os dados de clima da cidade de Nova Iorque. 

Os principais pontos que serão verificados neste trabalho:

- Coleta de dados da internet
- Utilização de estatística para análise de dados
- Manipulação de dados e criação de gráficos simples com o `Pandas`

*Como conseguir ajuda*: Sugerimos que tente os seguintes canais, nas seguintes ordens:

| Tipo de dúvida\Canais         	| Google 	| Fórum 	| Slack 	| Email 	|
|-------------------------------	|--------	|-------	|-------	|-------	|
| Programação Pyhon e Pandas    	| 1      	| 2     	| 3     	|       	|
| Requisitos do projeto         	|        	| 1     	| 2     	| 3     	|
| Partes específicas do Projeto 	|        	| 1     	| 2     	| 3     	|

Os endereços dos canais são:

- Fórum: https://discussions.udacity.com/c/ndfdsi-project
- Slack: [udacity-br.slack.com](https://udacity-br.slack.com/messages/C5MT6E3E1)
- Email: data-suporte@udacity.com

**Espera-se que o estudante entregue este relatório com:**

- Todos os TODO feitos, pois eles são essenciais para que o código rode corretamente
- O arquivo ipynb exportado como html

Para entregar este projeto, vá a [sala de aula](https://coco.udacity.com/nanodegrees/nd111/locale/pt-br/versions/1.0.0/parts/339726/modules/339733/lessons/340886/project) e submeta o seu `.ipynb` e o html, zipados.

# Lembretes

Antes de começarmos, alguns lembretes devem ter em mente ao usar os notebooks iPython:

- Lembre-se de que você pode ver do lado esquerdo de uma célula de código quando foi executado pela última vez se houver um número dentro das chaves.
- Quando você inicia uma nova sessão do notebook, certifique-se de executar todas as células até o ponto em que você deixou a última vez. Mesmo que a saída ainda seja visível a partir de quando você executou as células em sua sessão anterior, o kernel começa em um estado novo, então você precisará recarregar os dados, etc. em uma nova sessão.
- O ponto anterior é útil para ter em mente se suas respostas não correspondem ao que é esperado nos questionários da aula. Tente recarregar os dados e execute todas as etapas de processamento um a um para garantir que você esteja trabalhando com as mesmas variáveis e dados que estão em cada fase do questionário.

## Seção 1 - Coleta de Dados

### *Exercicio 1.1*

Mãos a obra!! Agora é sua vez de coletar os dados. Escreva abaixo um código python que acesse o link http://web.mta.info/developers/turnstile.html e baixe os arquivos do mês de junho de 2017. O arquivo deverá ser salvo com o nome turnstile_100617.txt onde 10/06/17 é a data do arquivo.

Abaixo seguem alguns comandos que poderão te ajudar:

Utilize a biblioteca **urllib** para abrir e resgatar uma página da web. Utilize o comando abaixo onde **url** será o caminho da página da web onde se encontra o arquivo:

```python
u = urllib.urlopen(url)
html = u.read()
```

Utilize a biblioteca **BeautifulSoup** para procurar na página pelo link do arquivo que deseja baixar. Utilize o comando abaixo para criar o seu objeto *soup* e procurar por todas as tags 'a'no documento:
 
 
```python
soup = BeautifulSoup(html, "html.parser")
links = soup.find_all('a')
```

Uma dica para baixar apenas os arquivos do mês de junho é verificar a data no nome do arquivo. Por exemplo, para baixar o arquivo do dia 17/06/2017 verifique se o link termina com *"turnstile_170610.txt"*. Se não fizer isso você baixará todos os arquivos da página. Para fazer isso utilize o comando conforme abaixo:

```python
if '1706' in link.get('href'):
```

E a dica final é utilizar o comando abaixo para fazer o download do arquivo txt:

```python
urllib.urlretrieve(link_do_arquivo, filename)
```

Lembre-se, primeiro, carregue todos os pacotes e funções que você estará usando em sua análise.

In [1]:
import urllib
import urllib.request as ur
from bs4 import BeautifulSoup

u = ur.urlopen('http://web.mta.info/developers/turnstile.html')
html = u.read()
soup = BeautifulSoup(html, 'html.parser')
links = soup.find_all('a')
for link in links:
    if link.get('href') and "1706" in link.get("href"):
        print (link.get('href'))
        filename = link.get('href')
        url_base = "http://web.mta.info/developers/"
        url_file = url_base + link.get('href')
        filename = filename[(filename.rfind("/") + 1):]
        print (filename)
        ur.urlretrieve(url_file, filename)
#your code here

data/nyct/turnstile/turnstile_170624.txt
turnstile_170624.txt
data/nyct/turnstile/turnstile_170617.txt
turnstile_170617.txt
data/nyct/turnstile/turnstile_170610.txt
turnstile_170610.txt
data/nyct/turnstile/turnstile_170603.txt
turnstile_170603.txt

In [3]:
import pandas as pd
import os
import glob

output_file = 'master_file.txt'
os.remove(output_file)

col_names = ['C/A','UNIT','SCP,STATION', 'LINENAME', 'DIVISION', 'DATEn','TIMEn','DESCn','ENTRIESn','EXITSn']
filenames = glob.glob("*.txt") 

for file in filenames:
    header = pd.read_csv(file,skiprows=1, low_memory= False, index_col=0)
    header.to_csv(output_file, mode='a')
    
master_file = pd.read_csv(output_file, names = col_names)
master_file.head()

,C/A,UNIT,"SCP,STATION",LINENAME,DIVISION,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,00:00:00,REGULAR,6195217,2098317
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,04:00:00,REGULAR,6195240,2098318
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,08:00:00,REGULAR,6195256,2098347
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,12:00:00,REGULAR,6195346,2098432
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,16:00:00,REGULAR,6195518,2098491

In [4]:
master_file.head()

,C/A,UNIT,"SCP,STATION",LINENAME,DIVISION,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,00:00:00,REGULAR,6195217,2098317
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,04:00:00,REGULAR,6195240,2098318
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,08:00:00,REGULAR,6195256,2098347
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,12:00:00,REGULAR,6195346,2098432
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,16:00:00,REGULAR,6195518,2098491

### *Exercicio 1.2*

Escreva uma função que pegue a lista de nomes dos arquivos que você baixou no exercicio 1.1 e consolide-os em um único arquivo. Deve existir apenas uma linha de cabeçalho no arquivo de saida. 

Por exemplo, se o arquivo_1 tiver:
linha 1...
linha 2...

e o outro arquivo, arquivo_2 tiver:
linha 3...
linha 4...
linha 5...

Devemos combinar o arquivo_1 com arquivo_2 em um arquivo mestre conforme abaixo:

'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'
linha 1...
linha 2...
linha 3...
linha 4...
linha 5...

### *Exercicio 1.3*

Neste exercício, escreva um função que leia o master_file criado no exercicio anterior e carregue-o em um pandas dataframe. Esta função deve filtrar para que o dataframe possua apenas linhas onde a coluna "DESCn" possua o valor "Regular".

Por exemplo, se o data frame do pandas estiver conforme abaixo:
    
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231

O dataframe deverá ficar conforme abaixo depois de filtrar apenas as linhas onde a coluna DESCn possua o valor REGULAR:

    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177

In [5]:
master_file.columns

Index(['C/A', 'UNIT', 'SCP,STATION', 'LINENAME', 'DIVISION', 'DATEn', 'TIMEn',
       'DESCn', 'ENTRIESn', 'EXITSn'],
      dtype='object')

### *Exercicio 1.4*


Os dados do metrô de NY possui dados cumulativos de entradas e saidas por linha. Assuma que você possui um dataframe chamado df que contém apenas linhas para uma catraca em particular (unico SCP, C/A, e UNIT). A função abaixo deve alterar essas entradas cumulativas para a contagem de entradas desde a última leitura (entradas desde a última linha do dataframe).

Mais especificamente, você deverá fazer duas coisas:

1 - Criar uma nova coluna chamada ENTRIESn_hourly
2 - Inserir nessa coluna a diferença enre ENTRIESn da coluna atual e a da coluna anterior. Se a linha possuir alguma NAN, preencha/substitua por 1.

Dica: as funções do pandas shift() e fillna() pode ser úteis nesse exercicio.

Abaixo tem um exemplo de como seu dataframe deve ficar ao final desse exercicio:

        C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly
    0     A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                1
    1     A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23
    2     A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18
    3     A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71
    4     A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170
    5     A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214
    6     A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87
    7     A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10
    8     A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36
    9     A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153
    10    A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337   1088823              243

In [6]:
import pandas

def get_hourly_entries(df):
    df['ENTRIESn_hourly'] = df.ENTRIESn.diff(1)
    df.ENTRIESn_hourly.fillna(1, inplace= True)
    return df

turnstile_hourly = get_hourly_entries(master_file)
turnstile_hourly.head()

,C/A,UNIT,"SCP,STATION",LINENAME,DIVISION,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,00:00:00,REGULAR,6195217,2098317,1.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,04:00:00,REGULAR,6195240,2098318,23.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,08:00:00,REGULAR,6195256,2098347,16.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,12:00:00,REGULAR,6195346,2098432,90.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,16:00:00,REGULAR,6195518,2098491,172.0

### *Exercicio 1.5*

Faça o mesmo do exercicio anterior mas agora considerando as saidas, coluna EXITSn.
Para isso crie uma coluna chamada de EXITSn_hourly e insira a diferença entre a coluna EXITSn da linha atual versus a linha anterior. Se tiver algum NaN, preencha/substitua por 0.

In [7]:
import pandas

def get_hourly_exits(df):
    df['EXITSn_hourly'] = df.EXITSn.diff(1)
    df.EXITSn_hourly.fillna(1, inplace= True)
    return df

turnstile_hourly = get_hourly_exits(master_file)
turnstile_hourly.head()

,C/A,UNIT,"SCP,STATION",LINENAME,DIVISION,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,00:00:00,REGULAR,6195217,2098317,1.0,1.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,04:00:00,REGULAR,6195240,2098318,23.0,1.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,08:00:00,REGULAR,6195256,2098347,16.0,29.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,12:00:00,REGULAR,6195346,2098432,90.0,85.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,16:00:00,REGULAR,6195518,2098491,172.0,59.0

### *Exercicio 1.6*

Dado uma variável de entrada que representa o tempo no formato de:
     "00:00:00" (hora: minutos: segundos)
    
Escreva uma função para extrair a parte da hora do tempo variável de entrada
E devolva-o como um número inteiro. Por exemplo:
         
         1) se a hora for 00, seu código deve retornar 0
         2) se a hora for 01, seu código deve retornar 1
         3) se a hora for 21, seu código deve retornar 21
        
Por favor, devolva a hora como um número inteiro.

In [8]:
import pandas as pd

master_file['TIMEn'] = master_file['TIMEn'].str[:2].astype(int)
master_file.head()

,C/A,UNIT,"SCP,STATION",LINENAME,DIVISION,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,0,REGULAR,6195217,2098317,1.0,1.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,4,REGULAR,6195240,2098318,23.0,1.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,8,REGULAR,6195256,2098347,16.0,29.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,12,REGULAR,6195346,2098432,90.0,85.0
A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,16,REGULAR,6195518,2098491,172.0,59.0

## Exercicio 2 - Análise dos dados

### *Exercicio 2.1*

Para verificar a relação entre o movimento do metrô e o clima, precisaremos complementar os dados do arquivo já baixado com os dados do clima.
Nós complementamos para você este arquivo com os dados de clima de Nova Iorque  e disponibilizamos na área de materiais do projeto. Você pode acessa-lo pelo link: https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Agora que temos nossos dados em um arquivo csv, escreva um código python que leia este arquivo e salve-o em um data frame do pandas. 

Dica: 

Utilize o comando abaixo para ler o arquivo:

```python
pd.read_csv('output_list.txt', sep=",")
```

In [24]:
import pandas as pd

filename = "turnstile_data_master_with_weather.csv"


#your code here
file = pd.read_csv(filename)
file.drop(file.columns[[0]], axis= 1)

,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,mindewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
0,R001,2011-05-01,01:00:00,1,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
1,R001,2011-05-01,05:00:00,5,REGULAR,217.0,553.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
2,R001,2011-05-01,09:00:00,9,REGULAR,890.0,1262.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
3,R001,2011-05-01,13:00:00,13,REGULAR,2451.0,3708.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
4,R001,2011-05-01,17:00:00,17,REGULAR,4400.0,2501.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
5,R001,2011-05-01,21:00:00,21,REGULAR,3372.0,2122.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
6,R002,2011-05-01,01:00:00,1,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
7,R002,2011-05-01,05:00:00,5,REGULAR,42.0,66.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
8,R002,2011-05-01,09:00:00,9,REGULAR,50.0,125.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
9,R002,2011-05-01,13:00:00,13,REGULAR,316.0,716.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
10,R002,2011-05-01,17:00:00,17,REGULAR,633.0,968.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
11,R002,2011-05-01,21:00:00,21,REGULAR,639.0,566.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
12,R003,2011-05-01,00:00:00,0,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
13,R003,2011-05-01,04:00:00,4,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
14,R003,2011-05-01,12:00:00,12,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
15,R003,2011-05-01,16:00:00,16,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
16,R003,2011-05-01,20:00:00,20,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
17,R004,2011-05-01,00:00:00,0,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
18,R004,2011-05-01,04:00:00,4,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
19,R004,2011-05-01,08:00:00,8,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
20,R004,2011-05-01,12:00:00,12,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
21,R004,2011-05-01,16:00:00,16,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
22,R004,2011-05-01,20:00:00,20,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
23,R005,2011-05-01,00:00:00,0,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
24,R005,2011-05-01,04:00:00,4,REGULAR,0.0,2.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
25,R005,2011-05-01,12:00:00,12,REGULAR,0.0,2.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
26,R005,2011-05-01,16:00:00,16,REGULAR,1.0,7.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
27,R005,2011-05-01,20:00:00,20,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
28,R006,2011-05-01,00:00:00,0,REGULAR,0.0,0.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
29,R006,2011-05-01,04:00:00,4,REGULAR,0.0,1.0,30.31,42.0,35.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131921,R552,2011-05-30,17:55:25,17,REGULAR,6.0,2.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131922,R552,2011-05-30,18:09:09,18,REGULAR,192.0,55.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131923,R552,2011-05-30,18:15:11,18,REGULAR,350.0,90.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131924,R552,2011-05-30,18:27:32,18,REGULAR,25.0,3.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131925,R552,2011-05-30,18:46:54,18,REGULAR,0.0,0.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131926,R552,2011-05-30,19:09:29,19,REGULAR,30.0,2.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131927,R552,2011-05-30,19:11:30,19,REGULAR,208.0,998.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131928,R552,2011-05-30,19:16:44,19,REGULAR,107.0,199.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131929,R552,2011-05-30,19:23:45,19,REGULAR,139.0,38.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131930,R552,2011-05-30,19:36:27,19,REGULAR,331.0,399.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131931,R552,2011-05-30,19:38:47,19,REGULAR,275.0,71.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131932,R552,2011-05-30,19:52:07,19,REGULAR,133.0,39.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131933,R552,2011-05-30,20:10:01,20,REGULAR,7.0,332.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131934,R552,2011-05-30,20:17:36,20,REGULAR,128.0,447.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131935,R552,2011-05-30,20:23:06,20,REGULAR,142.0,677.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131936,R552,2011-05-30,20:51:44,20,REGULAR,0.0,0.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131937,R552,2011-05-30,20:58:04,20,REGULAR,248.0,257.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131938,R552,2011-05-30,20:58:21,20,REGULAR,62.0,32.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131939,R552,2011-05-30,21:14:49,21,REGULAR,116.0,726.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131940,R552,2011-05-30,21:21:28,21,REGULAR,68.0,115.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131941,R552,2011-05-30,22:07:25,22,REGULAR,7.0,4.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131942,R552,2011-05-30,22:21:09,22,REGULAR,80.0,63.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131943,R552,2011-05-30,22:27:11,22,REGULAR,195.0,207.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131944,R552,2011-05-30,22:39:32,22,REGULAR,18.0,4.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131945,R552,2011-05-30,22:58:54,22,REGULAR,0.0,0.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131946,R552,2011-05-30,23:21:29,23,REGULAR,19.0,14.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131947,R552,2011-05-30,23:23:30,23,REGULAR,158.0,1022.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131948,R552,2011-05-30,23:28:44,23,REGULAR,54.0,275.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131949,R552,2011-05-30,23:35:45,23,REGULAR,59.0,46.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131950,R552,2011-05-30,23:50:47,23,REGULAR,123.0,108.0,30.13,70.0,66.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0

### *Exercicio 2.2*

Agora crie uma função que calcule a quantidade de dias chuvosos, para isso retorne a contagem do numero de dias onde a coluna *"rain"* é igual a 1.

Dica: Você também pode achar que a interpretação de números como números inteiros ou float pode não
     funcionar inicialmente. Para contornar esta questão, pode ser útil converter
     esses números para números inteiros. Isso pode ser feito escrevendo cast (coluna como inteiro).
     Então, por exemplo, se queríamos lançar a coluna maxtempi como um número inteiro, nós devemos
     escrever algo como cast (maxtempi as integer) = 76, em oposição a simplesmente
     onde maxtempi = 76.

In [48]:

def num_rainy_days(df):
    df = file['rain'].sum()
    
    
    
    
      


    #your code here
    return df
num_rainy_days(df)

44104.0

### *Exercicio 2.3*

Calcule se estava nebuloso ou não (0 ou 1) e a temperatura máxima para fog (isto é, a temperatura máxima 
     para dias nebulosos).

In [ ]:

def max_temp_aggregate_by_fog(df):
    
    
    #your code here 
    return weather

### *Exercicio 2.4

Calcule agora a média de 'meantempi' nos dias que são sábado ou domingo (finais de semana):

In [ ]:
def avg_weekend_temperature(filename):
  
    mean_temp_weekends = 
    
    return mean_temp_weekends

### *Exercicio 2.5

Calcule a média da temperatura mínima 'mintempi' nos dias chuvosos onde da temperatura mínima foi maior que do 55 graus:

In [ ]:
def avg_min_temperature(filename):

    avg_min_temp_rainy = 
    
    return avg_min_temp_rainy

### *Exercicio 2.6

Antes de realizar qualquer análise, pode ser útil olhar para os dados que esperamos analisar. Mais especificamente, vamos examinR as entradas por hora em nossos dados do metrô de Nova York para determinar a distribuição dos dados. Estes dados são armazenados na coluna ['ENTRIESn_hourly'].
    
Trace dois histogramas nos mesmos eixos para mostrar as entradas quando esta chovendo vs quando não está chovendo. 
Abaixo está um exemplo sobre como traçar histogramas com pandas e matplotlib:
     
```python
Turnstile_weather ['column_to_graph']. Hist ()
```

In [ ]:
import numpy as np
import pandas
import matplotlib.pyplot as plt

def entries_histogram(turnstile_weather):
    
    
    
    plt.figure()
    turnstile_weather['...'] # your code here to plot a historgram for hourly entries when it is raining
    turnstile_weather['...'] # your code here to plot a histogram for hourly entries when it is not raining
    return plt

### *Exercicio 2.7

Os dados que acabou de plotar que tipo de ditribuição? Existe diferença na distribuição entre dias chuvosos e não chuvosos?

** Resposta **: Substitua este texto pela sua resposta!

### *Exercicio 2.8

Construa uma função que que retorne:

1. A média das entradas com chuva
2. A média das entradas sem chuva

In [ ]:
import numpy as np

import pandas

def means(turnstile_weather):
    
    
    ### YOUR CODE HERE ###
    
    return with_rain_mean, without_rain_mean, p # leave this line for the grader

Responda as perguntas abaixo de acordo com a saida das suas funções:

1. Qual a média das entradas com chuva?
2. Qual a média das entradas sem chuva?

** Resposta **: Substitua este texto pela sua resposta!

## Exercicio 3 - Map Reduce

### *Exercicio 3.1*

A entrada para esse exercício e o mesmo arquivo da seção anterior (Exercicio 2). Você pode baixar o arquivo neste link:

 https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Varmos criar um mapeador agora. Para cada linha de entrada, a saída do mapeador deve IMPRIMIR (não retornar) a UNIT como uma chave e o número de ENTRIESn_hourly como o valor. Separe a chave e o valor por uma guia. Por exemplo: 'R002 \ t105105.0'

Exporte seu mapeador em um arquivo chamado mapper_result.txt e envie esse arquivo juntamente com a sua submissão. O código para exportar seu mapeador já está escrito no código abaixo.

In [ ]:
import sys

def mapper():
    

    for line in sys.stdin:
        # your code here


mapper()
sys.stdin = open('turnstile_data_master_with_weather.csv')
sys.stdout = open('mapper_result.txt', 'w')

### *Exercicio 3.2*

Agora crie o redutor. Dado o resultado do mapeador do exercicio anterior, o redutor deve imprimir(Não retornar) uma linha por UNIT, juntamente com o número total de ENTRIESn_hourly.Ao longo de maio (que é a duração dos nossos dados), separados por uma guia. Um exemplo de linha de saída do redutor pode ser assim: 'R001 \ t500625.0'

Você pode assumir que a entrada para o redutor está ordenada de tal forma que todas as linhas correspondentes a uma unidade particular são agrupados. No entanto a saida do redutor terá repetição pois existem lojas que aparecem em locais diferentes dos arquivos.

Exporte seu redutor em um arquivo chamado reducer_result.txt e envie esse arquivo juntamente com a sua submissão.

In [ ]:
def reducer():
    

    for line in sys.stdin:
        # your code here

        
reducer()